server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone : http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - 'http://localhost:4200'
              - 'http://localhost:8080'
            allowedHeaders:
              - Content-Type
              - Authorization
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
      discovery:
        locator:
          enabled: true
      routes:
        - id: meal-service
          uri: lb://meal-service
          predicates:
            - Path=/meal/**
          filters:
            - AuthenticationFilter

        - id: identity-service
          uri: lb://identity-service
          predicates:
            - Path=/auth/**, /users/**
          filters:
            - AuthenticationFilter

        - id: food-service
          uri: lb://food-service
          predicates:
            - Path=/food/**
          filters:
            - AuthenticationFilter

jwt:
  secret: 35a85bde01ad63afd1669e30d09d74a78f84d9ced2f7eecd9e45a819438c030f